.page-about {
  .entry-content {
    dt {
      font-weight: bold;
      border-bottom: $border-style;
      margin-bottom: 0.5em;
    }
    dd {
      margin-left: 0;
      margin-bottom: 2em;
    }
  }
}
