// 下層ページで表示
.breadcrumb {
  font-size: 80%;
}
.breadcrumb-link,
.breadcrumb-child-link {
  &::after {
    content: "\f006";
    font-family: blogicon;
    font-size: 70%;
    color: #999;
    display: inline-block;
    margin: 0 0.6em 0 1em;
    text-decoration: none;
  }
}
.breadcrumb-gt {
  display: none;
}
