#blog-title {
  margin: 2em 0;
  text-align: center;

  @media #{$mq-sm} {
    margin: 3em 0;
    text-align: left;
  }
}

#title {
  margin: 0;
  font-size: 1.5rem;
  @media #{$mq-md} {
    font-size: 1.7rem;
  }
}

#blog-description {
  font-weight: normal;
  font-size: 0.8rem;
  margin: 1em 0 0;
}

// ヘッダ画像を設定したとき
.header-image-enable {
  #blog-title {
    margin: 0 auto 2em;
    text-align: center;
  }

  #blog-title-inner {
    display: flex;
    flex-direction: row;
    align-items: center;
    width: calc(100% + 20px);
    margin-left: -10px;
    @media #{$mq-sm} {
      width: 100%;
      margin-left: 0;
    }
  }

  #blog-title-content {
    width: 100%;
    margin-left: 1em;
    margin-right: 1em;
  }
}

// タイトル下HTML
#top-editarea {
  margin-bottom: 1em;
}

// グローバルヘッダ
// #globalheader-container に背景色や文字色を指定することでiframeの中にも色が反映されます。

#globalheader-container {
  background-color: $text;
  color: $bg-main;
}
