.hatena-urllist {
  margin: 0;
  padding: 0 1em 0 1.4em;

  &.recent-comments,
  &.authors-urllist,
  &.circle-urllist {
    padding: 0;
    list-style: none;
  }

  li {
    padding: 0 0 0.5em;
    line-height: 1.4;
    &:last-child {
      padding-bottom: 0;
    }
  }
  .urllist-title-link {
    font-size: 1em;
  }

  .urllist-category-link {
    font-size: 0.7rem;
    padding: 0.1em 0.3em;
  }

  .urllist-entry-body {
    margin-top: 0.3em;
  }
}

.urllist-image {
  border-radius: $radius-small;
}

.urllist-date-link {
  margin-bottom: 0.4em;
  a {
    text-decoration: none;
  }
}

.urllist-with-thumbnails {
  padding: 0;
}

.authors-user-icon,
.hatena-id-icon,
.circle-image {
  border-radius: $radius-small;
}

.hatena-module-recent-comments {
  .user-id {
    display: block;
  }
  li {
    padding: 0 0 1em;
  }
  .recent-comments .user-id img {
    margin: 0;
  }
}
