.hatena-urllist {
  margin: 0;
  padding: 0 1em 0 1.4em;

  &.recent-comments,
  &.authors-urllist,
  &.circle-urllist {
    padding: 0;
    list-style: none;
  }

  li {
    padding: 0 0 0.5em;
    line-height: 1.4;
    &:last-child {
      padding-bottom: 0;
    }
  }
  .urllist-title-link {
    font-size: 1em;
  }

  .urllist-category-link {
    position: relative;
    display: inline-block;
    font-size: 0.7rem;
    &::before {
      font-family: blogicon;
      content: "\f04a";
      margin-right: 0.2em;
      font-size: 90%;
      opacity: 0.6;
      text-decoration: none;
    }
  }

  .urllist-entry-body {
    margin-top: 0.3em;
  }
}

.urllist-image {
  border-radius: $radius-small;
}

.urllist-date-link {
  margin-bottom: 0.4em;
  a {
    text-decoration: none;
  }
}

.urllist-with-thumbnails {
  padding: 0;
  .urllist-item {
    padding-bottom: 1em;
  }
}

.authors-user-icon,
.hatena-id-icon,
.circle-image {
  border-radius: $radius-small;
}

.hatena-module-recent-comments {
  .user-id {
    display: block;
  }
  li {
    padding: 0 0 1em;
  }
  .recent-comments .user-id img {
    margin: 0;
  }
  .recent-comments .recent-comment-time {
    margin: 0 0.2em;
    opacity: 1;
  }
}

.hatena-module-profile {
  .id {
    margin-bottom: 0.3em;
  }
  .profile-activities {
    font-size: 80%;
  }
}

.profile-about a,
.urllist-see-more a,
a.leave-comment-title,
a.hatena-follow-button.unsubscribing,
.entry-see-more {
  display: inline-block;
  margin-right: 0.6em;
  padding: 0.2em 0.6em;
  font-size: 90%;
  font-weight: bold;
  text-decoration: none;
  background-color: $btn;
  border: $border-style;
  border-radius: $radius-small;
  &:hover {
    background-color: $btn-hover;
  }
}

a.hatena-follow-button.unsubscribing {
  padding: 0.2em 0.6em 0.2em 1.6em;
  background-position: 1px 1.5px;
}

.hatena-follow-button-box {
  clear: none;
  font-size: 100% !important;
  height: auto;
  margin: auto;
  display: inline-block;
}

.hatena-module-category,
.hatena-module-links {
  .hatena-urllist {
    padding: 0;
    list-style: none;
  }
  a {
    display: block;
    position: relative;
    padding-left: 1.4em;
  }
  a::before {
    position: absolute;
    display: inline-block;
    top: 0.1em;
    left: 0.2em;
    margin-right: 0.2em;
    font-family: blogicon;
    font-size: 90%;
    opacity: 0.6;
    text-decoration: none;
  }
}
.hatena-module-category a::before {
  content: "\f04a";
}
.hatena-module-links a::before {
  content: "\f702";
}

.archive-module-show-button,
.archive-module-hide-button {
  font-size: 80%;
}
