.hatena-module {
  box-sizing: border-box;
  margin-bottom: 2em;
  padding: 1.4em;
  font-size: 0.85rem;
  background-color: $bg-white;
  border-radius: $radius-main;

  @media #{$mq-sm} {
    font-size: 0.9rem;
  }
}

.hatena-module-title {
  margin-bottom: 0.6em;
  padding-bottom: 0.2em;
  font-size: 1rem;
  font-weight: bold;
}
