.pager {
  margin: 2em 0;
  display: flex;
  justify-content: space-between;
  .pager-arrow {
    display: none;
  }
  a {
    display: block;
    padding: 1em;
    font-size: 90%;
    font-weight: bold;
    text-decoration: none;
    background-color: $btn;
    border: $border-style;
    border-radius: $radius-main;
    &::before,
    &::after {
      font-family: blogicon;
      font-size: 80%;
      color: #999;
      display: inline-block;
      text-decoration: none;
    }
    &:hover {
      background-color: $btn-hover;
    }
  }
  .pager-prev a {
    &::before {
      content: "\f005";
      margin-right: 0.6em;
    }
  }

  .pager-next a {
    &::after {
      content: "\f006";
      margin-left: 0.6em;
    }
  }
}
